<?xml version="1.0" encoding="utf-8"?>

<!--
"%WIX%\bin\candle.exe" idupdater.wxs -dMSI_VERSION=3.9.5
 -dqt_path=C:\Qt\5.9.10\msvc2017
 -dlibs_path="C:\OpenSSL-Win32\bin"
 -dupdater_path=id-updater.exe

"%WIX%\bin\light.exe" -out idupdater.msi idupdater.wixobj -v -ext WixUIExtension
-->

<?ifndef Platform ?>
<?define Platform="x86" ?>
<?endif ?>

<?if $(var.Platform) = x64 ?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?define OpenSSLSuffix = "-x64" ?>
<?else ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?define OpenSSLSuffix = "" ?>
<?endif ?>

<?if $(env.VisualStudioVersion) = "17.0" ?>
<?define VCVER = "143" ?>
<?elseif $(env.VisualStudioVersion) = "16.0" ?>
<?define VCVER = "142" ?>
<?elseif $(env.VisualStudioVersion) = "15.0" ?>
<?define VCVER = "141" ?>
<?endif?>

<?if $(var.qt_suffix) = "d" ?>
<?define VCPATH = "$(env.VCTOOLSREDISTDIR)\Debug_NonRedist\$(var.Platform)\Microsoft.VC$(var.VCVER).DebugCRT" ?>
<?else ?>
<?define VCPATH = "$(env.VCTOOLSREDISTDIR)\$(var.Platform)\Microsoft.VC$(var.VCVER).CRT" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="Open-EID Updater" UpgradeCode="d3aa8bd7-e1e6-46d0-97a6-c9b87d2b830b"
      Id="*" Language="1033" Version="$(var.MSI_VERSION)" Codepage="1251" Manufacturer="RIA">
    <Package Platform="$(var.Platform)" Keywords="Installer" InstallerVersion="405" Compressed="yes" InstallScope="perMachine"/>
    <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>
    <Icon Id="idupdater.exe" SourceFile="$(var.updater_path)"/>
    <Property Id="ARPPRODUCTICON" Value="idupdater.exe"/>
    <Property Id="AUTO_UPDATE" Value="1"/>
    <MajorUpgrade AllowSameVersionUpgrades="yes" Schedule="afterInstallInitialize" DowngradeErrorMessage=
      "A newer version of [ProductName] is already installed. If you are trying to downgrade, please uninstall the newer version first."/>
    <Condition Message="[ProductName] requires Windows 7 or higher.">
      <![CDATA[Installed OR (VersionNT >= 601)]]>
    </Condition>
    <UIRef Id="WixUI_Minimal2" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id='$(var.PlatformProgramFilesFolder)'>
        <Directory Id="APPLICATIONFOLDER" Name="Open-EID">
          <Component Id="Application" Guid="ce49ec96-dc54-4b51-adae-8d5dd82b15d1">
            <File Id="id_updater.exe" Source="$(var.updater_path)" KeyPath='yes'/>
            <RegistryValue Root="HKMU" Key="Software\[Manufacturer]\Open-EID"
                Name="Installed" Value="[APPLICATIONFOLDER]" Type="string"/>
<?if $(var.Platform) = x64 ?>
            <RegistryValue Root="HKMU" Key="Software\Wow6432Node\[Manufacturer]\Open-EID"
                Name="Installed" Value="[APPLICATIONFOLDER]" Type="string"/>
<?endif ?>
<?ifdef var.qt_path ?>
            <File Source="$(var.VCPATH)\msvcp140$(var.qt_suffix).dll"/>
            <File Source="$(var.VCPATH)\vcruntime140$(var.qt_suffix).dll"/>
<?if $(var.Platform) = x64 AND $(env.VisualStudioVersion) != "15.0" ?>
            <File Source="$(var.VCPATH)\msvcp140_1$(var.qt_suffix).dll"/>
            <File Source="$(var.VCPATH)\MSVCP140_2$(var.qt_suffix).dll"/>
            <File Source="$(var.VCPATH)\vcruntime140_1$(var.qt_suffix).dll"/>
<?endif ?>
            <File Source="$(var.libs_path)\libcrypto-1_1$(var.OpenSSLSuffix).dll"/>
            <File Source="$(var.libs_path)\libssl-1_1$(var.OpenSSLSuffix).dll"/>
            <File Source="$(var.qt_path)\Qt$(var.qt_ver_major)Core$(var.qt_suffix).dll"/>
            <File Source="$(var.qt_path)\Qt$(var.qt_ver_major)Gui$(var.qt_suffix).dll"/>
            <File Source="$(var.qt_path)\Qt$(var.qt_ver_major)Network$(var.qt_suffix).dll"/>
            <File Source="$(var.qt_path)\Qt$(var.qt_ver_major)PrintSupport$(var.qt_suffix).dll"/>
            <File Source="$(var.qt_path)\Qt$(var.qt_ver_major)Svg$(var.qt_suffix).dll"/>
            <File Source="$(var.qt_path)\Qt$(var.qt_ver_major)Widgets$(var.qt_suffix).dll"/>
            <File Source="$(var.qt_path)\D3DCompiler_47.dll"/>
            <File Source="$(var.qt_path)\opengl32sw.dll"/>
<?if $(var.qt_ver_major) = "5" ?>
            <File Source="$(var.qt_path)\Qt5WinExtras$(var.qt_suffix).dll"/>
            <File Source="$(var.qt_path)\libEGL$(var.qt_suffix).dll"/>
            <File Source="$(var.qt_path)\libGLESv2$(var.qt_suffix).dll"/>
            <File Source="$(var.qtconf)" />
<?else ?>
            <File Source="$(var.qt_path)\Qt6Core5Compat$(var.qt_suffix).dll"/>
            <File Source="$(var.qt_path)\Qt6SvgWidgets$(var.qt_suffix).dll"/>
<?endif?>
<?endif?>
          </Component>
<?ifdef var.qt_path ?>
          <Directory Id="platforms" Name="platforms" FileSource="$(var.qt_path)\..\plugins\platforms">
            <Component Id="qwindows.dll">
              <File Name="qwindows$(var.qt_suffix).dll"/>
            </Component>
          </Directory>
<?if $(var.qt_ver_major) = "5" ?>
          <Directory Id="printsupport" Name="printsupport" FileSource="$(var.qt_path)\..\plugins\printsupport">
            <Component Id="windowsprintersupport.dll">
              <File Name="windowsprintersupport$(var.qt_suffix).dll"/>
            </Component>
          </Directory>
<?else ?>
          <Directory Id="tls" Name="tls" FileSource="$(var.qt_path)\..\plugins\tls">
            <Component Id="qopensslbackend.dll">
              <File Name="qopensslbackend$(var.qt_suffix).dll"/>
            </Component>
          </Directory>
<?endif?>
          <Directory Id="styles" Name="styles" FileSource="$(var.qt_path)\..\plugins\styles">
            <Component Id="qwindowsvistastyle.dll">
              <File Name="qwindowsvistastyle$(var.qt_suffix).dll"/>
            </Component>
          </Directory>
          <Directory Id="imageformats" Name="imageformats" FileSource="$(var.qt_path)\..\plugins\imageformats">
            <Component Id="imageformats.dll" Guid="4ae32624-e869-4e4c-8a1c-624c31133ce3">
              <File Name="qgif$(var.qt_suffix).dll"/>
              <File Name="qjpeg$(var.qt_suffix).dll"/>
              <File Name="qsvg$(var.qt_suffix).dll"/>
            </Component>
          </Directory>
<?endif?>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="Install" Title="Open-EID" ConfigurableDirectory="APPLICATIONFOLDER">
      <ComponentRef Id="Application" />
<?ifdef var.qt_path ?>
      <ComponentRef Id="qwindows.dll" />
      <ComponentRef Id="qwindowsvistastyle.dll" />
<?if $(var.qt_ver_major) = "5" ?>
      <ComponentRef Id="windowsprintersupport.dll" />
<?else ?>
      <ComponentRef Id="qopensslbackend.dll" />
<?endif?>
      <ComponentRef Id="imageformats.dll" />
<?endif?>
    </Feature>

    <CustomAction Id="ScheduleUpdater" FileKey="id_updater.exe" Impersonate="no" Execute="deferred"
      ExeCommand="-weekly" Return="ignore"/>
    <CustomAction Id="UnScheduleUpdater" FileKey="id_updater.exe" Impersonate="no" Execute="deferred"
      ExeCommand="-remove" Return="ignore"/>

    <InstallExecuteSequence>
      <Custom Action="ScheduleUpdater" Before="InstallFinalize">(NOT Installed) AND (AUTO_UPDATE = 1)</Custom>
      <Custom Action="UnScheduleUpdater" After="InstallInitialize">REMOVE="ALL"</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>
