#include <winver.h>

VS_VERSION_INFO VERSIONINFO
  FILEVERSION VERSION_INF
  PRODUCTVERSION VERSION_INF
  FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS VS_FF_DEBUG
#else
  FILEFLAGS 0x0L
#endif
  FILEOS VOS_NT_WINDOWS32
  FILETYPE VFT_APP
  FILESUBTYPE VFT_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0"
		BEGIN
			VALUE "CompanyName", "RIA"
			VALUE "FileDescription", "ID Updater Application"
			VALUE "FileVersion", VERSION
			VALUE "InternalName", "id-updater"
			VALUE "LegalCopyright", "Copyright (C) 2009-2025 Estonian Information System Authority"
			VALUE "OriginalFilename", "id-updater.exe"
			VALUE "ProductName", "id-updater"
			VALUE "ProductVersion", VERSION
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END
/* End of Version info */

IDI_ICON1   ICON  DISCARDABLE  "appicon.ico"
