<?if $(sys.BUILDARCH) = x64 ?>
  <?define OpenSSLSuffix = "-x64" ?>
<?else?>
  <?define OpenSSLSuffix = "" ?>
<?endif?>

<?if $(env.VisualStudioVersion) = "17.0" ?>
<?define VCVER = "143" ?>
<?elseif $(env.VisualStudioVersion) = "16.0" ?>
<?define VCVER = "142" ?>
<?endif?>

<?if $(var.qt_suffix) = "d" ?>
<?define VCPATH = "$(env.VCTOOLSREDISTDIR)\Debug_NonRedist\$(sys.BUILDARCH)\Microsoft.VC$(var.VCVER).DebugCRT" ?>
<?else?>
<?define VCPATH = "$(env.VCTOOLSREDISTDIR)\$(sys.BUILDARCH)\Microsoft.VC$(var.VCVER).CRT" ?>
<?endif?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="Open-EID Updater" UpgradeCode="d3aa8bd7-e1e6-46d0-97a6-c9b87d2b830b"
      Language="1033" Version="$(var.MSI_VERSION)" Codepage="1251" Manufacturer="RIA" InstallerVersion="500">
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <Icon Id="appicon.ico" SourceFile="$(var.appicon)" />
    <Property Id="ARPPRODUCTICON" Value="appicon.ico" />
    <Property Id="AUTO_UPDATE" Value="1" />
    <MajorUpgrade AllowSameVersionUpgrades="yes" Schedule="afterInstallInitialize" DowngradeErrorMessage=
        "A newer version of [ProductName] is already installed. If you are trying to downgrade, please uninstall the newer version first." />
    <Launch Condition="Installed OR (VersionNT &gt;= 601)" Message="[ProductName] requires Windows 7 or higher." />
    <ui:WixUI Id="WixUI_Minimal2" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="Open-EID" FileSource="$(var.qt_path)">
        <Component Id="Application">
          <File Id="id_updater.exe" Source="$(var.updater_path)" KeyPath="yes" />
          <RegistryValue Root="HKMU" Key="Software\[Manufacturer]\Open-EID"
            Name="Installed" Value="[INSTALLFOLDER]" Type="string" />
<?if $(sys.BUILDARCH) = x64 ?>
          <RegistryValue Root="HKMU" Key="Software\Wow6432Node\[Manufacturer]\Open-EID"
            Name="Installed" Value="[INSTALLFOLDER]" Type="string" />
<?endif?>
        </Component>
        <File Source="$(var.VCPATH)\msvcp140$(var.qt_suffix).dll" />
        <File Source="$(var.VCPATH)\vcruntime140$(var.qt_suffix).dll" />
<?if $(sys.BUILDARCH) != x86 ?>
        <File Source="$(var.VCPATH)\vcruntime140_1$(var.qt_suffix).dll" />
<?endif?>
        <File Source="$(var.libs_path)\libcrypto-3$(var.OpenSSLSuffix).dll" />
        <File Source="$(var.libs_path)\libssl-3$(var.OpenSSLSuffix).dll" />
        <File Name="Qt6Core$(var.qt_suffix).dll" />
        <File Name="Qt6Gui$(var.qt_suffix).dll" />
        <File Name="Qt6Network$(var.qt_suffix).dll" />
        <File Name="Qt6PrintSupport$(var.qt_suffix).dll" />
        <File Name="Qt6Svg$(var.qt_suffix).dll" />
        <File Name="Qt6Widgets$(var.qt_suffix).dll" />
        <File Name="D3DCompiler_47.dll" />
        <File Name="opengl32sw.dll" />
        <File Name="Qt6SvgWidgets$(var.qt_suffix).dll" />
        <Directory Id="platforms" Name="platforms">
          <File Source="$(var.qt_path)\..\plugins\platforms\qwindows$(var.qt_suffix).dll" />
        </Directory>
        <Directory Id="tls" Name="tls">
          <File Source="$(var.qt_path)\..\plugins\tls\qopensslbackend$(var.qt_suffix).dll" />
        </Directory>
        <Directory Id="styles" Name="styles">
          <File Source="$(var.qt_path)\..\plugins\styles\qmodernwindowsstyle$(var.qt_suffix).dll" />
        </Directory>
        <Directory Id="imageformats" Name="imageformats">
          <File Source="$(var.qt_path)\..\plugins\imageformats\qsvg$(var.qt_suffix).dll" />
        </Directory>
      </Directory>
    </StandardDirectory>

    <CustomAction Id="ScheduleUpdater" Impersonate="no" Execute="deferred"
      ExeCommand="-weekly" Return="ignore" FileRef="id_updater.exe" />
    <CustomAction Id="UnScheduleUpdater" Impersonate="no" Execute="deferred"
      ExeCommand="-remove" Return="ignore" FileRef="id_updater.exe" />

    <InstallExecuteSequence>
      <Custom Action="ScheduleUpdater" Before="InstallFinalize" Condition="(NOT Installed) AND (AUTO_UPDATE = 1)" />
      <Custom Action="UnScheduleUpdater" After="InstallInitialize" Condition="REMOVE=&quot;ALL&quot;" />
    </InstallExecuteSequence>
  </Package>
</Wix>
